body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 50px 50px;
    border-radius: 5px;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-circle-check {
    font-size: 50px;
    color: gray;
}

.message-header {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 17px;
}

.close-modal {
    padding: 10px 20px;
    border-style: solid;
    border-width: 0px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}



