body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw; /* Use viewport width */
  height: 500vh; /* Use viewport height */
  background-color: rgb(255, 255, 255);
  overflow-x: hidden !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 221, 221);
  background-color: black;
  background-color: rgb(226, 226, 226);
}


#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.products-div-preloader {
  height: 300px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}






/*

A : Header
B : Main 
B : Footer

*/






/* Scrollbar container */
::-webkit-scrollbar {
  width: normal !important; 
  height: normal !important;
}



















/*------------------- SCALE RESPONSIVENESS -----------------------*/
/*------------------- SCALE RESPONSIVENESS -----------------------*/
/*------------------- SCALE RESPONSIVENESS -----------------------*/

@media (max-width: 768px) {

  body {
    height: 850vh;
  }

  .A {
    height: 15%;
  }

  .B {
    height: 75%;
  }

  .C {
    height: 10%;
  }

}




@media (min-width: 769px) and (max-width: 1024px) {

  .A {
    height: 15%;
  }

  .B {
    height: 77%;
  }
}




@media (min-width: 1025px){
  /*--- Defaults are above ---------------*/
}

































/*--------------------------------- main.jsx scale responsives ------------------------------------------*/
/*--------------------------------- main.jsx scale responsives ------------------------------------------*/
/*--------------------------------- main.jsx scale responsives ------------------------------------------*/




@media (max-width: 768px) {

  .All_products_container {
    height: 30%;
  }

  .Our_picks_container {
      height: 20%;
  }

  .Trend-section {
      height: 55%;
  }

}




@media (min-width: 769px) and (max-width: 1024px) {

  .A {
    height: 15%;
  }

  .B {
    height: 77%;
  }
}




@media (min-width: 1025px){
  /*--- Defaults are above ---------------*/
}


