body {
  margin: 0;
  padding: 0;
  width: 100vw; /* Use viewport width */
  height: 500vh; /* Use viewport height */
  background-color: rgb(255, 255, 255);
  overflow-x: hidden !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 221, 221);
  background-color: black;
}




/*

A : Header
B : Main 
B : Footer

*/






