body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw; /* Use viewport width */
  height: 500vh; /* Use viewport height */
  background-color: rgb(255, 255, 255);
  overflow-x: hidden !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 221, 221);
  background-color: black;
  background-color: rgb(226, 226, 226);
}


#root {
  width: 100%;
  height: 100%;
}






/*

A : Header
B : Main 
B : Footer

*/






/* Scrollbar container */
::-webkit-scrollbar {
  width: normal !important; 
  height: normal !important;
}

