.payment-body {
    height: auto;
}

.paying-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}












































/*------------------------------------- LEFT PART PANEL --------------------------------------------------*/


.left_part_pay {
    background-color: rgba(241, 241, 241, 0);
    height: 95%;
    width: 50%;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}


.address_details, .header_description, .upper_form_title {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.upper_left_pay {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.address_details {
    width: 100%;
    font-size: 30px;
}

.header_description {
    width: 100%;
    margin-top: 1%;
    font-size: 11px;
}

















































































/*------------------------------------- ADDRESS FORM SECTION --------------------------------------------------*/
/*------------------------------------- ADDRESS FORM SECTION --------------------------------------------------*/
/*------------------------------------- ADDRESS FORM SECTION --------------------------------------------------*/



.Form_section {
    height: 78%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.upper_form_title {
    width: 100%;
    height: 8%;
    font-size: 20px;
    margin-bottom: 20px;
}

.address_form_container {
    height: auto;
    width: 100%;
}

.address_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    height: auto;
    width: 100%;
}







.names_container, 
.street_container,
.city_zipcode_container,
.country_container,
.phone_container {
    height: 18%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}





.names_container > .first_name,
.country_container > .first_name {
    position: relative;
}



.names_container > .first_name > .error,
.country_container > .first_name > .error {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 100;
    bottom: 0;
    left: 100;
    right: 0;
}




.phone_container > .first_name {
    position: relative;
}

.PhoneInputInput {
    z-index: 1;
}


.phone_container > .first_name > .error {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    left: 100;
    right: 0;
    width: 82%;
    height: 75%;
    display: flex;
    align-items: flex-end;
    z-index: 0;
}
























































































/*-------------------------------- FORM GENERAL SETTINGS SECTION ------------------------------------------*/
/*-------------------------------- FORM GENERAL SETTINGS SECTION ------------------------------------------*/
/*-------------------------------- FORM GENERAL SETTINGS SECTION ------------------------------------------*/




.first_name, .last_name {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.paym-indicator {
    width: 100%;
    height: 25%;
    margin-top: 0;
    margin-bottom: 4px;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(53, 53, 53);
    font-weight: 700;
    display: flex;
    align-items: center;
}




input, .phone_input {
    background-color: rgba(170, 170, 170, 0.11);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(167, 167, 167, 0.884);
    width: 93%;
    height: 45%;
    border-radius: 4px;
    outline: none;
    padding: 13px;
}








input:hover {
    border-color: rgb(42, 112, 158);
}

input:focus {
    border-color: rgb(42, 112, 158);
}
















































































































































/*------------------------------ OTHER CUSTOM FORM STYLES ---------------------------------------------*/
/*------------------------------ OTHER CUSTOM FORM STYLES ---------------------------------------------*/
/*------------------------------ OTHER CUSTOM FORM STYLES ---------------------------------------------*/




/*-------------First & last name container, and country and city container -------*/
.names_container, 
.city_zipcode_container {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}












/*------------------------------Package modifications-------------------------------------------*/

.street_container {
    display: flex;
    align-items: center;
}









.city_zipcode_container > .first_name > div {
    width: 100%;
    height: 45%;
}


.stdropdown-container {
    height: 100% !important;
    width: 100% !important;
    border-color: rgba(167, 167, 167, 0.884) !important;
    background-color: rgba(170, 170, 170, 0.11) !important;
    align-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stsearch-box input {
    border-width: 0px !important;
    height: 100% !important;
    width: 100% !important;
}


.stdropdown-tools {
    cursor: pointer;
    opacity: 0.3;
}


.stdropdown-container:hover {
    border-color: rgb(42, 112, 158);
}

.stdropdown-container:active {
    border-color: rgb(42, 112, 158);
}



.stsearch-box input {
    background-color: rgba(0, 0, 255, 0);
}



















.phone_container > .first_name > .phone_input {
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0);
}




.phone_input {
    height: auto;
}

.phone_container > .first_name {
    position: relative;
}


.error-text {
    color: red;
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 35%;
    text-align: left;
}






































































































































































/*------------------------------------ RIGHT PART PANEL -------------------------------------------------------*/



.right_part_pay {
    height: 80vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    
}


.upper_right_pay {
    height: 5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;    
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.103);
    border-color: rgba(29, 29, 29, 0.123);
}

.order_summary_button, 
.check_out_button {

    width: 50%;
    height: auto;
    cursor: pointer;
    border-style: solid;
    border-width: 0px;
    border-color: gray;
    font-size: 11px;
    color: rgb(90, 90, 90);
    transition: background-color 0.2s ease-in-out;
}


.order_summary_button:hover, 
.check_out_button:hover {
    background-color: rgba(0, 0, 0, 0.103);
    color: rgb(0, 0, 0);
}


.order_summary_button.active,
.check_out_button.active {
  background-color: rgba(0, 0, 0, 0.39);
  color: white;
}



.lower_right_pay {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}










































































/*------------------------------------ ORDER SUMMARY SECTION-------------------------------------------------------*/
/*------------------------------------ ORDER SUMMARY SECTION-------------------------------------------------------*/
/*------------------------------------ ORDER SUMMARY SECTION-------------------------------------------------------*/


.order_summary_container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    position: relative;
}


.small_calculations {
    position: absolute;
    height: 23%;
    width: 100%;
    top: 100;
    bottom: 0;
    border-style: dashed;
    border-color: rgba(75, 75, 75, 0.521);
    border-width: 1px;
    border-radius: 2px;
    background-color: rgb(194, 194, 194);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.295);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.items_word_summary,
.sub_total_summary,
.discount_word_summary,
.shipping_word_summary,
.Total_word_summary {
    width: 95%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.small_calculations > p {
    font-size: 12px;
}

.sub_total_summary {
    font-weight: 600;
    margin-bottom: 2%;
}


.sub_total_summary > span {
    font-size: 11px;
    font-weight: 100;
}


.Total_word_summary {
    font-size: 17px;
    color: rgb(29, 29, 29);
}

.Total_word_summary > span {
    font-size: 13px;
}


.lower_summary {
    height: auto;
    width: 100%;
    overflow: auto;
}



/*----Modifying how the scrollbar must look-----*/

div.lower_summary::-webkit-scrollbar {
    width: 6px;
}



div.lower_summary::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 55px;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

div.lower_summary::-webkit-scrollbar-thumb:hover {
    background-color: rgb(56, 56, 56);
    width: 10px !important;
}


/*----End of modifying how the scrollbar must look-----*/







.items_container_summary {
    height: auto;
    width: 100%;
    overflow: hidden;
}

.item_summary_row {
    width: 99%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.068);
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    border-radius: 2px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
}

.img_and_name {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.img_summary {
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.089);
}

.img_summary > img {
    width: 75%;
}

.img_description_summary {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.item_name_summary, 
.size_summary,
.quantity_number {
    width: 95%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 100;
    height: auto;
    display: flex;
    align-items: center;
}

.item_name_summary {
    height: auto;
    font-size: 16px;
}

.size_summary {
    height: 25%;
    font-size: 11px;
}


.quantity_number {
    height: 25%;
    font-size: 11px;
}

.summary_price {
    height: auto;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
}


.dollar_price_summary, .price_in_rwf {
    width: 95%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}






























































































































/*------------------------------------ CHECK OUT SECTION-------------------------------------------------------*/
/*------------------------------------ CHECK OUT SECTION-------------------------------------------------------*/
/*------------------------------------ CHECK OUT SECTION-------------------------------------------------------*/









.check_out_panel {
    background-color: rgba(238, 238, 238, 0.473);
    height: auto;
    width: 100%;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(29, 29, 29, 0.123);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.upper_check_out {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check_out_header {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 85%;
    display: flex;
    align-items: center;
    height: auto;
    font-size: 18px;
    color: rgba(21, 0, 54, 0.644);
    font-family: sans-serif;
}

.use-momo {
    font-size: 11px;
    color: gray;
    text-decoration: underline;
}

.card_images {
    height: auto;
    width: 85%;
    display: flex;
    align-items: center;
}

.mastercard, .visa, .paypal {
    height: 60px;
    width: 90px;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.404);
}

.mastercard > img,
.visa > img,
.paypal > img {
    width: 100%;
}





.lower_check_out_container {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    height: auto;
    width: 100%;
    margin-top: 15px;
}


.cardholder_name, 
.card_number, 
.exp_and_cvc,
.pay_now {
    width: 90%;
    height: 25%;
}










.cardholder_name {
    background-color: rgba(255, 255, 255, 0);
}

.cardholder_name > .first_name {
    width: 95%;
    padding: 0;
}

.cardholder_name > .first_name > p {
    background-color: rgba(255, 255, 255, 0);
}

.cardholder_name > .first_name > input {
    width: 95%;
    padding-left: 0;
}


























.card_number {
    background-color: rgba(255, 255, 255, 0);
}

.card_number > .first_name {
    width: 95%;
    padding: 0;
}

.card_number > .first_name > p {
    background-color: rgba(255, 255, 255, 0);
}

.card_number > .first_name > input {
    width: 93%;
    padding-left: 2%;
}











.exp_and_cvc {
    width: 85% !important;
    display: flex;
    flex-direction: row;
}


.exp_and_cvc > .first_name,
.exp_and_cvc > .last_name {
    width: 48%;
    display: flex;
    flex-direction: column;
}

.exp_and_cvc > .first_name {
    align-items: flex-start;
}


.exp_and_cvc > .last_name {
    align-items: flex-end;
}


.exp_and_cvc > .first_name > p,
.exp_and_cvc > .last_name > p {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

.exp_and_cvc > .last_name > p {
    width: 95%;
}

.exp_and_cvc > .first_name > input,
.exp_and_cvc > .last_name > input {
    width: 95%;
    padding: 0%;
    padding-left: 2%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.exp_and_cvc > .last_name > .error {
    width: 46% !important;
}





.pay_now {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pay_now_button {
    width: 95%;
    height: 45%;
    border-style: solid;
    border-width: 0px;
    border-radius: 5px;
    color: rgb(235, 234, 234);
    font-size: 12px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.479);
    transition: background-color 0.3s ease-in-out;
}

.pay_now_button:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

























.error {
    color: red;
    font-family: sans-serif;
    font-size: 10px;
}


.cardholder_name, 
.card_number,
.exp_and_cvc {
    position: relative;
}



.cardholder_name > .first_name > .error {
    width: 90%;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 100;
    bottom: 0;
}


.card_number > .first_name > .error {
    width: 95%;
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    top: 100;
    bottom: 0;
}





.card_number > .first_name > .see-container {
    position: absolute;
    height: 75%;
    width: 15%;
    top: 100;
    bottom: 0;
    left: 100;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card_number > .first_name {
    position: relative;
}


.see-container > i {
    cursor: pointer;
    font-size: 13px;
    color: gray;
}






















.exp_and_cvc > .first_name > .error,
.exp_and_cvc > .last_name > .error {
    position: absolute;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    top: 100;
    bottom: 0;
}


.cardholder_name > .first_name,
.card_number > .first_name {
    height: auto;
}




















































/*--------------------------------------- RESPONSIVENESS --------------------------------------*/
/*--------------------------------------- RESPONSIVENESS --------------------------------------*/
/*--------------------------------------- RESPONSIVENESS --------------------------------------*/
/*--------------------------------------- RESPONSIVENESS --------------------------------------*/
/*--------------------------------------- RESPONSIVENESS --------------------------------------*/
/*--------------------------------------- RESPONSIVENESS --------------------------------------*/





/*--------------------------------------- My phone ---------------------------------------------*/


@media (max-width: 768px) {
    .payment-body {
        height: auto;
    }
}

@media (max-width: 1024px) {

    .Form_section {
        display: none;
    }




    .paying-wrapper {
        flex-direction: column;
        height: auto;
    }





    .left_part_pay {
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    .upper_left_pay {
        width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .mobile_form_section {
        height: auto;
        width: 100%;
    }

    .mobile-form {
        width: 100%;
        height: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }


    .mobile-form > div {
        width: 90%;
        height: 11%;
        border-style: solid;
        border-width: 0px;
        border-radius: 5px;
        border-color: rgba(95, 95, 95, 0.521);
    }

    .mobile-form > div > input,
    .stsearch-box input  {
        width: 98%;
        height: auto;
        padding-left: 2%;
        left: 100;
        right: 0;
        font-size: 15px;
        border-width: 1;
    }

    .mobile-form > div:has(> input:focus) {
        border-color: rgb(42, 112, 158);
    }

    .four > div {
        height: auto;
    }

    .stdropdown-container {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        padding-right: 15px;
    }



    .stsearch-box {
        height: auto;
        width: 98%;
        padding: 0 !important;
        margin: 0 auto;
    }


    .stdropdown-tool > svg {
        opacity: 0.3;
    }


    .phone_input {
        padding: 0;
        width: 100%;
        padding-left: 2%;
    }


    .phone_input > input {
        height: 100%;
        padding: 0;
        border-width: 0;
        padding-left: 2%;
        padding-right: 15px;
        width: 100% !important;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 0, 0, 0);
    }

    .seven > .error {
        width: 76%;
        margin: 0 auto;
    }





    .right_part_pay {
        width: 100%;
        height: auto;
        background-color: rgba(210, 105, 30, 0);
        justify-content: space-around;
        margin-top: 20px;
    }

    .upper_right_pay {
        height: 30px;
        border-radius: 0;
        border-width: 0;
        box-shadow: none;
        background-color: rgba(128, 0, 128, 0);
    }

    .order_summary_button, .check_out_button {
        background-color: rgba(192, 192, 192, 0.247);
    }


    .lower_right_pay {
        height: auto;
    }

    .order_summary_container {
        justify-content: center;
        height: auto;
        margin-top: 20px;
    }

    .lower_summary {
        height: auto;
    }

    .small_calculations {
        height: 120px;
        position: relative;
        margin-top: 20px;
        margin-bottom: 15px;
        box-shadow: none;
    }


    .check_out_panel {
        height: 550px;
        margin-top: 0px;
        border-width: 0;
        background-color: rgba(128, 128, 128, 0.103);
    }

    .upper_check_out {
        height: auto;
    }

    .lower_check_out_container {
        background-color: rgba(0, 128, 0, 0);
        margin-top: 20px;
    }

    .card_images {
        height: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .card_images, 
    .check_out_header {
        width: 90%;
    }


    .card_images > div {
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 80px;
        border-radius: 0;
    }

    .card_images > div > img {
        width: 100%;
        height: auto;
    }


    .card_form {
        display: none;
    }

    .mobile_payment_section {
        display: flex;
        height: auto;
        width: 90%;
    }

    .mobile-payment-form {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .mobile-payment-form > div {
        height: 14%;
        width: 100%;
        border-style: solid;
        border-width: 0px;
        border-radius: 5px;
        border-color: rgba(95, 95, 95, 0.521);
    }

    .mobile-payment-form > div > input {
        width: 98%;
        height: auto;
        padding: 0;
        padding-left: 2%;
        font-size: 13px;
    }


    .one-2 {
        position: relative;
        display: flex;
        z-index: 2;
    }


    .one-2 > .error {
        position: absolute;
        height: 125%;
        display: flex;
        align-items: flex-end;
        z-index: 1;
    }

    .error {
        margin-top: 0;
        margin-bottom: 0;
    }


    .see-container {
        position: absolute;
        left: 100;
        right: 0;
        height: auto;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .one-5 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-width: 0 !important;
    }

    .pay_now_button {
        height: auto;
        width: 100%;
        font-size: 15px;
    }

    








}




/*--------------------------------------- Above my phone ---------------------------------------------*/
@media (min-width: 1025px) {
    .mobile-form,
    .mobile_payment_section {
        display: none;
    }
} 






/*--------------------------------------- Below my phone -----------------------------------------------*/
@media (max-width: 420px) {
.mobile-form > div > input,
    .stsearch-box input  {
        font-size: 12px;
    }

    .mobile-payment-form > div > input {
        font-size: 11px;
    }
}



