.A {
  background-color: rgb(247, 247, 247);
  background-color: rgba(172, 255, 47, 0.966);
  width: 100%;
  height: 23%;
  overflow: hidden;
}


.desktop_nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 10%;
  width: 100%;
  background-color: rgb(44, 44, 44);
  z-index: 999;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.363);
}

.Left_part1 {
  width: 40%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.Name_of_company {
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  color: white;
  font-family: sans-serif;
  font-size: 25px;
  margin: 0 auto;
}

.verve_nav {
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}


.desk_links {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.801);
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 100;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: rgba(0, 128, 0, 0);
  transition: border-color 0.3s ease;
  padding: 2%;
  cursor: pointer;
}

a:hover {
  color: rgb(0, 255, 0);
}
















.Right_part1 {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}





.Input_container_one,
.Icon_one,
.cart_button_container {
  width: auto;
  padding: 0;
}





.Input_container_one {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.top_search_container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.534);

}

.search_items_input {
  height: 90%;
  width: 70%;
  border-style: solid;
  border-width: 0px;
  color: rgba(255, 255, 255, 0.747);
  outline: none;
  background-color: #cccccc00;
}


.Search-icon-container {
  height: 100%;
  width: 5%;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: rgba(245, 245, 220, 0);
}


.Search_ico {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.863);
}





.Icon_one {
  width: auto;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.User_ico {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  color: white;
  font-size: 8px;
  border-radius: 50%;
  padding: 9px;
  background-color: rgba(255, 255, 255, 0.144);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.User_ico:hover {
  background-color: rgba(255, 255, 255, 0.329);
}











.cart_button_container {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-left: 5px;
}

.cart_button_one {
  height: 100%;
  width: 100%;
  /*background-color: rgba(60, 255, 0, 0.274);*/
  background-color: rgba(60, 255, 0, 0);
  background-color: none;
  border-style: solid;
  border-width: 0px;
  border-color: rgba(255, 255, 255, 0.664);
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cart_button_one:hover .cart_ico {
  color: rgb(133, 255, 96);
}

.Cart_icon_container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_ico {
  font-size: 20px;
  position: relative;
  padding: 8px;
}



.items_counter {
  height: auto;
  width: auto;
  background-color: rgba(0, 140, 145, 0.986);
  margin-top: 0;
  margin-bottom: 0;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 8px;
  position: absolute;
  bottom: 100;
  top: 0;
  left: 100;
  right: 0;
  font-family: sans-serif;
  font-weight: 100;
}




















/*----------------------------------------------------------------------------------------------------*/








































































.Two_parts_1 {
  background-color: rgb(34, 34, 34);
  background-image: linear-gradient(to right, rgb(24, 24, 24), rgba(0, 255, 213, 0.062));
  height: 100%;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.Upper_part_1 {
  width: 95%;
  height: 75%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}

.Left_part_2 {
  width: 55%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}



.Shop_with_container {
  width: 98%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.shop_with_header {
  width: 90%;
  height: auto;
  font-family: sans-serif;
  font-size: 90px;
  color: rgba(255, 255, 255, 0.719);
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.Verve_colored {
  color:  rgb(97, 151, 142);
  font-size: 78px;
}


.Products_container {
  width: 98%;
  height: auto;
  overflow: hidden;
  cursor: grab;
}



.Products_container > .slick-slider {
  height: 100%;
  align-content: center;
}

.Products_container > .slick-slider > .slick-list {
  height: 100%;
  align-content: center;
}

.Products_container > .slick-slider > .slick-list > .slick-track {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
}




.Products_container > .slick-slider > .slick-list > .slick-track > .slick-slide > div {
  align-content: center;
  height: 100%;
}




.contain {
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.contain > .Trend {
  height: 100%;
} 




.card-4 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.7s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out;
}


.Item_and_price_container {
  width: 45%;
  height: auto;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


.Item_name {
  width: 75%;
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  color: rgba(0, 216, 133, 0.603);
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.item_price {
  width: 75%;
  font-family: "Signika", sans-serif;
  font-size: 14px;
  color: rgba(249, 255, 200, 0.404);
  margin-top: 0;
}

.Add_to_cart_1 {
  width: 75%;
  background-color: rgba(0, 216, 54, 0.164);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.76);
  color: rgba(255, 255, 255, 0.74);
  padding: 6px;
  border-radius: 30px;
  font-size: 11px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: transform 0.1s ease;
}

.Add_to_cart_1:hover {
  background-color: rgba(0, 216, 54, 0.39);
}

.Add_to_cart_1:active {
  transform: scale(1);
}



.Cart_ico_2 {
  margin-left: 8px;
}

.loading-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.The_shoe_container {
  height: auto;
  width: 55%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Shoe_itself {
    overflow: hidden;
    filter: brightness(70%);
    filter: contrast(95%) brightness(70%);
    transition: filter 0.3s ease-in-out;
}

.Shoe_itself:hover {
  filter: contrast(100%) brightness(90%);
}




.Right_part_2 {
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0px;
}

.in_the_sugg {
  position: absolute;
  position: fixed;
  z-index: 0;
  width: 100%;
  width: 25%;
  margin-left: 15%;
  height: auto;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* Hide scrollbar container */
.suggestions-container::-webkit-scrollbar {
  width: 6px; 
  height: 10px;
}


.suggestions-container::-webkit-scrollbar-thumb {
  background-color: rgb(173, 173, 173);
  border-radius: 55px;
  cursor: pointer;
}

.suggestions-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(56, 56, 56);
}

/*------------------------------------------------------*/


.suggestions-container {
  background-color: rgb(235, 235, 235);
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  margin-top: 3%;
  z-index: 1000 !important;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

  border: 1px solid #ffffff7a;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
  cursor: pointer;
  width: 100% !important;
}

.suggestion_name {
  margin-top: 0;
  margin-bottom: 0;
  font-family: sans-serif;
  font-size: 15px;
  width: 100%;
  margin-left: 4%;
  padding: 2%;
}


.suggestion-item:hover {
  background-color: #ffffff;
}






















.Try_our_new_container {
  width: 100%;
  height: 80%;
  background-color: rgba(210, 105, 30, 0);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Choose_product_container {
  background-color: rgba(255, 255, 0, 0.034);
  height: auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-radius: 70px;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.try_our_new_paragraph {
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 244, 223, 0.726);
  width: 50%;
  margin-top: 7%;
  padding: 10px;
  margin-left: 40%;
  background-color: rgba(0, 128, 90, 0.151);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.219);
  border-radius: 20px;
  box-shadow: 0 0 15px 5px rgba(19, 85, 44, 0.712);
  transition: box-shadow 0.3s ease-in-out ;  
}


.try_our_new_paragraph:hover {
  box-shadow: 0 0 15px 5px rgba(19, 85, 44, 0.712);
}






.One, .Two, .Three, .Four {
  height: 85%;
  width: 23%;
  background-color: rgba(165, 42, 42, 0.445);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: rgb(205, 239, 255);
  border-width: 1px;
  border-radius: 50%;
  cursor: grab;
  padding-top: 2%;
  padding-bottom: 2%;
}

.img_1, .img_2, .img_3, .img_4 {
  width: 80%;
  height: auto; 
  overflow: hidden;
  filter: brightness(90%);
  transition: filter 0.1s ease;
}

.img_3 {
  filter: brightness(130%);
}

.img_3:hover {
  filter: brightness(150%);
}


.img_1:hover,
.img_2:hover,
.img_4:hover {
  filter: brightness(110%);
}









.see-more-mobile {
  display: none;
}










/*------------------------------------------------------------------------------------------*/



















.Lower_part_1 {
  height: auto;
  width: 90%;
  background-color: rgba(0, 128, 90, 0.151);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 253, 106, 0.151) 50%, rgba(255, 255, 255, 0)100%);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.164);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}








































































































































/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/
/*------------------------------------------------ RESPONSIVENESS -----------------------------------------------------------------------*/



























/*---------------------------------- NAVIGATION SECTION ---------------------------------*/
/*---------------------------------- NAVIGATION SECTION ---------------------------------*/



/*--------------Only enabling the mobile nav -----------------*/

@media (max-width: 767px){
  .desktop_nav, 
  .in_the_sugg {
    display: none;
  }

  .mobile_nav {
    display: flex;
  }

}


@media (min-width: 768px){
  .desktop_nav{
    display: flex;
  }

  .mobile_nav, 
  .big-nav-panel-mobile,
  .in_the_sugg_mobile {
    display: none;
  }
}

/*------------------------------------------------------------*/






/*----------------- My phone nav -----------------------------*/

@media (max-width: 767px) {

  .mobile_nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 10%;
    width: 100%;
    background-color: rgb(44, 44, 44);
    z-index: 1500;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.363);
    background-color: rgb(37, 37, 37);
    background-image: linear-gradient(to right, rgb(37, 37, 37), rgba(0, 255, 213, 0.062));
  
  }











  
  .left_part_mobile {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
  }
  


  .mobile_verve_nav {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.767);
    font-weight: 600;
  }



  
  .burger_container {
    width: 40px;
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 28px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  
  
  .hamburger .bar, 
  .hamburger:after, 
  .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 1.5px;
    background-color:rgba(255, 255, 255, 0.767);
    margin: 5px 0px;
    transition: 0.4s;
    z-index: 999;
    overflow-x: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: #00000000;
    border-radius: 5px;
  }
  
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 4px);
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-8px, -4px);
  }
  
  
  
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  





















  /*----- The panel when the burger is clicked ---*/
  
  .big-nav-panel-mobile {
    height: 100%;
    width: 100%;
    z-index: 998;
    overflow: hidden;
    background-color: rgba(32, 36, 34, 0.712);
    position: absolute;
    top: 0;
    bottom: 100;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.5s ease-in-out, z-index 0.5s ease-in-out;
  }
  
  .big-nav-panel-mobile.is-active {
    opacity: 1;
    z-index: 1;
  }
  
  
  .main-nav-panel {
    position: fixed;
    background-color: rgb(32, 36, 34);
    height: 100vh;
    width: 80%;
  }
  
  
  .list-container {
    display: flex;
    align-items: flex-end;
    height: 80%;
    width: 100%;
  }
  
  .main_lists {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .main_lists > div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sect-1 {
    height: 33% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.041);
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }
  
  .user-profile-container {
    background-color: rgba(19, 19, 19, 0.418);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(185, 185, 185, 0.247);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-profile-container > i {
    color: rgba(255, 255, 255, 0.37);
    font-size: 25px;
  }
  
  .sign-in-container {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sign-in-container > h3 {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.651);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    font-size: 18px;
  }
  
  
  .sign-in-header {
    font-size: 14px !important;
    margin-top: 5px !important; 
  }
  
  
  
  
  .main_lists > div > h4 {
    font-family: sans-serif;
    width: 80%;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.726);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .main_lists > div > h4 > i {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.253);
  }



  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .right_part_mobile {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ease-in-out;
  } 
    
  
  
  .Cart_ico_container_mobile {
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }
  
  .cart_ico_mobile {
    position: relative;
    font-size: 23px;
    color: rgb(201, 201, 201);
    padding: 7px;
  }
  
  
  .items_counter_mobile {
    height: auto;
    width: auto;
    background-color: rgba(0, 140, 145, 0.986);
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    font-weight: 100;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 9px;
    position: absolute;
    left: 100;
    right: 0;
    bottom: 100;
    top: 0;
  }
  
  






  
  
  
  
  /*----------------------------------------------------------*/
  
  .right_part_mobile.is-active {
    width: 60%;
    justify-content: center;
  }
  
  
  .right_part_mobile.is-active .Cart_ico_container_mobile {
    padding: 0;
    width: auto;
  }
  
  .right_part_mobile.is-active .mobile-search-input{
    display: flex;
    width: 80%;
    height: 100%;
    padding-left: 2%;
    border-width: 0;
  }
  
  .right_part_mobile.is-active .search_mobile_container {
    width: 75%;
    height: 40%;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
    border-radius: 5px;
  }
    
  
  .right_part_mobile.is-active .magnify-glass {
    color: black;
    font-size: 13px;
  }
  
  
  
  .search_mobile_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .magnify-glass{
    display: flex;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.603);
  }
  
  
  .mobile-search-input {
    display: none;
  }
  
  /*----------------------------------------------------------*/
  




  .in_the_sugg_mobile {
    position: absolute;
    position: fixed;
    z-index: 0;
    width: 55%;
    height: auto;
    display: flex;
    z-index: 1000;
    justify-content: center;
    margin-top: 80px;
    margin-right: 20px;
  }

  .suggestions-container {
    margin-top: 0;
  }



  
}








/*------------------- Below my phone (nav) --------------------------*/



@media (min-width: 768px) and (max-width: 980px) {
  .Left_part1 {
    width: 50%;
  }

  .Name_of_company {
    width: 40%;
  }

  .desk_links {
    width: 70%;
  }

  a {
    font-size: 11px;
    padding: 0;
  }

  .Right_part1 {
    width: 33%;
  }

  .top_search_container {
    height: 80%;
    width: 90%;
  }

  .search_items_input {
    font-size: 10px;
  }

  .Search_ico {
    font-size: 10px;
    color: rgb(173, 173, 173);
  }

  

  .cart_ico {
    font-size: 16px;
    padding: 6px;
  }
  
  .items_counter {
    font-size: 6px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
  }

}



@media (min-width: 560px) and (max-width: 767px){
  .left_part_mobile {
    width: 30%;
  }
}


@media (max-width: 450px){
  .mobile_verve_nav {
    font-size: 25px;
    font-weight: 400;
  }

  .burger_container {
    width: 35px;
  }

  .hamburger{
    width: 25px;
  }

  .hamburger .bar, 
  .hamburger:after, 
  .hamburger:before {
    height: 1px;
    margin: 4px 0px;
  }



  
.hamburger.is-active:before {
	transform: rotate(-45deg) translate(-8px, 2px);
}

.hamburger.is-active:after {
	transform: rotate(45deg) translate(-8px, -2px);
}



  .cart_ico_mobile {
    font-size: 20px;
  }

  .items_counter_mobile {
    font-size: 7px;
  }
  
}

@media (max-width: 380px) {
  .mobile_verve_nav {
    font-size: 25px;
  }

  .left_part_mobile {
    width: 38%;
  }

  .right_part_mobile.is-active {
    width: 55%;
  }
}

@media (max-width: 320px) {
  .mobile_verve_nav {
    font-size: 25px;
  }

  .left_part_mobile {
    width: 40%;
  }

  .right_part_mobile.is-active {
    width: 55%;
  }

  .magnify-glass {
    font-size: 17px;
  }

  .cart_ico_mobile {
    font-size: 17px;
  }
}

@media (max-width: 280px){
  .burger_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile_verve_nav {
    font-size: 20px;
  }

  .burger_container {
    width: 35px;
  }

  .hamburger {
    width: 20px;
  }

  .hamburger .bar, 
  .hamburger:after, 
  .hamburger:before {
    height: 0.5px;
    margin: 3px 0px;
  }

  .cart_ico_mobile {
    font-size: 16px;
  }

}






























/*------------------------------------ END OF NAVIGATION SECTION ---------------------------------*/
/*------------------------------------ END OF NAVIGATION SECTION ---------------------------------*/





































/*------------------------------------ FRONT PAGE SECTION ---------------------------------*/
/*------------------------------------ FRONT PAGE SECTION ---------------------------------*/
/*------------------------------------ FRONT PAGE SECTION ---------------------------------*/





















































/*------------------ MY PHONE ----------------------*/


@media (min-width: 0px) and (max-width: 768px) {

  .Two_parts_1 {
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0;
    width: 100%;
  }

  .Upper_part_1 {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .Left_part_2 {
    width: 100%;
    height: 60%;
  }

  .Shop_with_container {
    justify-content: flex-start;
    height: 60%;
  }


  .shop_with_header {
    font-size: 75px;
    width: 95%;
    margin: 0 auto;
  }

  .Verve_colored {
    font-size: 70px;
  }

  .Products_container {
    height: 30%;
    width: 90%;
  }

  .card-4 {
    width: 100%;
  }


  .Item_and_price_container {
    width: 30%;
  }

  
  .Item_name, .item_price {
    width: 100%;
    text-align: left;
  }

  .Item_name {
    font-size: 16px;
  }

  .item_price {
    font-size: 10px;
  }

  .Add_to_cart_1 {
    width: 100%;
    padding: 5px;
    font-size: 6px;
  }

  .The_shoe_container {
    height: 100%;
    width: 70%;
  }

  .Shoe_itself {
    width: 100%;
  } 

  .Right_part_2 {
    width: 100%;
    height: 40%;
    background-color: rgba(190, 190, 190, 0.068);
  }

  .Try_our_new_container {
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    justify-content: center;
  }

  .try_our_new_paragraph {
    width: 30%;
    font-size: 8px;
    margin: 0;
    padding: 5px;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.623);
    background-color: rgba(255, 255, 255, 0.055);
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.116);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0);
    border-color: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0.479);
    background-color: rgba(255, 255, 255, 0);
    margin-left: 0px;
    font-size: 11px;
    width: 50%;
    text-decoration: underline;
  }

  
  .try_our_new_paragraph:hover {
    box-shadow: none;
  }


  .Choose_product_container {
    margin: 0 auto;
  }

  .img_1, .img_2, .img_3, .img_4 {
    width: 90%;
  }

  .see-more-mobile {
    display: flex;
    margin-bottom: 0;
    color: rgba(128, 255, 116, 0.473);
    font-size: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.178);
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
    background-color: rgba(90, 90, 90, 0.103);
  }

  .see-more-mobile > i {
    color: rgba(128, 255, 116, 0.582);
    margin-left: 5px;
  }

  

  .Lower_part_1 {
    height: 10%;
    background-color: green;
    background-color: rgba(0, 0, 0, 0);
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
}










/*----------------------------------- ABOVE MY PHONE----------------------------------*/

@media (min-width: 450px) {
  .img_1, .img_2, .img_3, .img_4 {
    width: 70%;
  }

  .try_our_new_paragraph {
    font-size: 13px;
  }
}

@media (min-width: 560px) {

  .Products_container {
    background-color: rgba(128, 0, 128, 0);
  }

  .Item_and_price_container {
    background-color: rgba(0, 128, 0, 0);
  }

  .The_shoe_container {
    width: 300px;
  }

}


@media (min-width: 570px) {
  .Products_container {
    margin: 0 auto;
  }

  .Item_name {
    width: 95%;
    font-size: 20px;
  }

  .item_price {
    width: 95%;
    font-size: 13px;
  }

  .Add_to_cart_1 {
    font-size: 10px;
    width: 95%;
  }
}


@media (min-width: 710px) {
  .Item_name {
    width: 90%;
    font-size: 25px;
  }

  .item_price {
    width: 90%;
    font-size: 15px;
  }

  .Add_to_cart_1 {
    font-size: 11px;
    width: 90%;
  }

  .img_1, .img_2, .img_3, .img_4 {
    width: 70%;
  }

  .Choose_product_container {
    width: 70%;
  }
}


@media (min-width: 600px) {

  .Shop_with_container {
    width: 95%;
    margin: 0 auto;
  }

  .shop_with_header {
    font-size: 90px;
  }

  .Verve_colored {
    font-size: 85px;
  }


  .Left_part_2 {
    align-items: flex-start;
  }

  .Products_container {
    width: 80%;
    margin: 0;
  }

  .Item_name, .item_price {
    width: 90%;
  }

  .Add_to_cart_1 {
    font-size: 8px;
    padding: 5px;
    width: 90%;
  }
}



/*---------------- Big Tablets ---------------*/

@media (min-width: 769px) and (max-width: 1024px) {

  .desktop_nav {
    height: 70px;
  }

  .Left_part_2 {
    height: auto;
  }

  .Shop_with_container {
    width: 100%;
  }

  .shop_with_header {
    width: 100%;
    font-size: 75px;
  }

  .Verve_colored {
    font-size: 70px;
  }

  .Products_container {
    width: 400px;
  }
  .Item_name {
    width: 130px;
    font-size: 18px;
  }

  .item_price {
    width: 130px;
    font-size: 12px;
  }

  .Add_to_cart_1 {
    width: 130px;
    font-size: 8px;
    padding: 4px;
  }

  .Right_part_2 {
    height: 70%;
  }

  .try_our_new_paragraph {
    width: 50%;
    font-size: 10px;
    margin: 0 auto;
    margin-left: 110px;
    margin-bottom: 20px;
  }

  .Choose_product_container {
    width: 100%;
  }

  .img_1, .img_2, .img_3, .img_4 {
    width: 90%;
  }
}


@media (min-width: 1025px) {
  .Left_part_2 {
    height: auto;
  }

  .shop_with_header {
    font-size: 80px;
  }

  .Verve_colored {
    font-size: 75px;
  }

  .Products_container {
    width: 95%;    
  }

  .Item_name {
    width: 75%;
    font-size: 23px;
  }

  .item_price {
    width: 75%;
    font-size: 15px;
  }

  .Add_to_cart_1 {
    width: 75%;
    font-size: 8px;
  }

  .Right_part_2 {
    height: 90%;
  }

  .Choose_product_container {
    width: 100%;
  }

  .img_1, .img_2, .img_3, .img_4 {
    width: 90%;
  }
}


@media (min-width: 1120px) and (max-width: 1290px){
  .Left_part_2 {
    height: 70%;
  }

  .Products_container {
    width: 100%;
  }

  .Item_and_price_container {
    width: 30%;
  }

  .The_shoe_container {
    width: 45%;
  }

  .Shoe_itself {
    width: 100%;
  }

  .Item_name {
    width: 100%;
    font-size: 23px;
  }

  .item_price {
    width: 100%;
  }

  .Add_to_cart_1 {
    width: 100%;
    font-size: 10px;
  }
}



@media (min-width: 1291px) {
  .Left_part_2 {
    height: 85%;
  }

  .shop_with_header {
    font-size: 85px;
  }

  .Verve_colored {
    font-size: 80px;
  }

  .Item_and_price_container {
    width: 45%;
  }

  .Item_name, .item_price {
    width: 65%;
  }

  .Add_to_cart_1 {
    width: 65%;
    font-size: 11px;
  }


  .The_shoe_container {
    width: 55%;
  }

  .Right_part_2 {
    height: 95%;
  }

  .Choose_product_container {
    width: 100%;
  }

  .img_1, .img_2, .img_3, .img_4 {
    width: 80%;
  }

}















/*----------------------------------- BELOW MY PHONE ----------------------------------*/


@media (max-width: 390px) {
  .shop_with_header {
    font-size: 70px;
  }

  .Verve_colored {
    font-size: 65px;
  }

  .Item_name {
    font-size: 15px;
  }

  .item_price {
    font-size: 10px;
  }

  .Add_to_cart_1 {
    font-size: 7px;
    padding: 4px;
  }

}


@media (max-width: 340px) {
  .shop_with_header {
    font-size: 60px;
  }

  .Verve_colored {
    font-size: 55px;
  }

  .Item_name {
    font-size: 13px;
  }

  .item_price {
    font-size: 9px;
  }

  .Add_to_cart_1 {
    font-size: 6px;
    padding: 4px;
  }

}


@media (max-width: 290px) {
  .shop_with_header {
    font-size: 55px;
  }

  .Verve_colored {
    font-size: 50px;
  }

  .Item_name {
    font-size: 11px;
  }

  .item_price {
    font-size: 8px;
  }

  .Add_to_cart_1 {
    font-size: 4px;
  }

  .try_our_new_paragraph {
    font-size: 9px;
  }

}

@media (max-width: 270px) {
  .shop_with_header {
    font-size: 50px;
  }

  .Verve_colored {
    font-size: 45px;
  }

  .Item_name {
    font-size: 10px;
  }

  .item_price {
    font-size: 7px;
  }

  .Add_to_cart_1 {
    font-size: 5px;
  }

  .try_our_new_paragraph {
    font-size: 7px;
  }

}


@media (max-width: 255px) {
  .shop_with_header {
    font-size: 45px;
  }

  .Verve_colored {
    font-size: 40px;
  }

  .Item_name {
    font-size: 6px;
  }

  .item_price {
    font-size: 4px;
  }

  .Add_to_cart_1 {
    font-size: 5px;
  }


}


@media (max-width: 220px) {
  .shop_with_header {
    font-size: 40px;
  }

  .Verve_colored {
    font-size: 35px;
  }

  .Item_name {
    font-size: 5px;
  }

  .item_price {
    font-size: 3px;
  }

  .Add_to_cart_1 {
    font-size: 5px;
  }

}


























