.B {
    height: 69%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 221, 221);
    overflow-x: hidden;
    overflow: hidden;
}
   
.Upper_part_main {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
  
  

































  
  
  
























































/*------------------------------------------ THE GAME STARTS HERE ---------------------------------------*/
/*------------------------------------------ THE GAME STARTS HERE ---------------------------------------*/
/*------------------------------------------ THE GAME STARTS HERE ---------------------------------------*/

.Lower_part_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}











































/*------------------------------------------ ALL PRODUCTS SECTION ---------------------------------------*/
/*------------------------------------------ ALL PRODUCTS SECTION ---------------------------------------*/


.All_products_container {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Our_products_upper_part {
    height: 25%;
    width: 100%;
    background-color: rgba(136, 136, 136, 0.144);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.our-products-header,
.our-products-description{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.our-products-header {
    font-size: 30px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}

.our-products-description {
    font-size: 13px;
    margin-bottom: 20px;
}




.our-products-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: rgba(136, 136, 136, 0.144);
}

.popular-container,
.filter-container {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.popular-chooser {
    width: 50%;
    height: 50%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(185, 185, 185);
    background-color: rgba(185, 185, 185, 0.5);
}

.popular-chooser > p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 12px;
    margin-right: 10px;
}

.popular-chooser > i {
    font-size: 13px;
    transition: transform 0.2s ease;
}


.popular-chooser.toggled i{
    transform: rotate(180deg); /* Rotate the entire chooser when toggled */
}



.buttons-container {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.browse_button {
    background-color: rgba(211, 214, 209, 0);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: solid;
    border-width: 0px;
    border-radius: 30px;
    border-color: rgba(100, 100, 100, 0.664);
    font-size: 13px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 20px;
    transition: background-color 0.2s ease-in-out;
}


.browse_button:hover {
    background-color: rgba(85, 85, 85, 0.171);
    color: white;
    border-color: rgba(255, 255, 255, 0);
}

.browse_button.active {
    background-color: rgba(85, 85, 85, 0.432);
    color: white;
}






.filter-chooser {
    width: 50%;
    height: 40%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(185, 185, 185);
    background-color: rgba(185, 185, 185, 0.5);
}



.filter-chooser > p {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 12px;
    margin-left: 10px;
}


.filter-chooser > i {
    font-size: 11px;
}



.popular-chooser:hover,
.filter-chooser:hover {
    background-color: rgba(214, 214, 214, 0.5);
}








.Our_products_lower_part {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.products_section_one {
    height: 45%;
    width: 100%;
    align-content: center;
}





.slider-container-draft {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    cursor: grab;
    border-radius: 10px;
    align-content: center;
}

.Trend-draft {
    height: 100%;
    width: 100%;
}

.card-draft {
    margin: 0 auto;
    height: 280px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgba(0, 0, 0, 0.438) 1px;
    border-radius: 5px;
    transition: background-color 0.7s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.288), rgba(0, 0, 0, 0));
}

.draftUp {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draftDown{
    height: 30%;
    width: 100%;
}
  

  
.product_images_first_section {
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 5px;
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Shoes {
    overflow: hidden;
}

.card_lower_part {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color: rgb(221, 221, 221);
}

.item_name_container {
    width: 95%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.item_p {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    color: rgb(31, 31, 31);
    font-size: 14px;
}


.stars_and_prices_container {
    width: 95%;
    height: 60%;
    margin: 0 auto;
}


.stars_container {
    height: 20%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-color: rgb(184, 184, 184);
}

.star {
    font-size: 6px;
}



.price_and_cart_container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Price {
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 12px;
}
  
.cart {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 140, 145, 0.986);
    padding: 3%;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.cart:active {
    transform: scale(0.9);
}

.cart:hover {
    background-color: rgba(50, 182, 187, 0.986);
}

.cart_icon {
    font-size: 10px;
    color: rgb(241, 241, 241);
}
  
  
  
  
  
  
  
.products_section_two {
    height: 50%;
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    align-content: center;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  











































































/*------------------------------------------ TRENDING ITEMS SECTION ---------------------------------------*/
/*------------------------------------------ TRENDING ITEMS SECTION ---------------------------------------*/


.Trend-section {
    width: 100%;
    height: 32%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(90, 90, 90, 0.158);
}




.Upper-part-trend {
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.274);
}


.Trending_items_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


.Trend-description {
    width: 60%;
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}




.Lower-part-trend {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.TrendCards-panel {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
  
    









































  
  
  

  




  
  
  

  
  
  
  
  






























