.Our_picks_container {
    max-width: 100%;
    height: 32%;
    background-color: rgba(90, 119, 9, 0.068);
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
  

.our_picks_heading_container {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    background: linear-gradient(45deg, #0b10311e,  rgba(90, 119, 9, 0));
}

.our_picks_header {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 30px;
    font-weight: 100;
    color: rgba(34, 34, 34, 0.801);
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.The_rest {
    width: 95%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1.7%;
}

.Small_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 5%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(112, 84, 84, 0.397);
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}

.In_navbar_divisor {
    height: 12px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0);
}

.Summer, .Winter {
    width: 50%;
    height: 100%;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    background-color: rgb(80, 185, 132);
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    margin-top: 0;
}

.Summer {
    color: rgba(0, 0, 0, 0.644);
    border-radius: 20px 0px 0px 20px;
    background: linear-gradient(45deg, #0b10311e, #79b4cb00);
    transition: background-color 0.9s ease-in-out;
}

.Summer:hover {
    color: white;
    background: linear-gradient(45deg, #967b5c80, #00000000);
    background-color: rgba(128, 83, 0, 0.336);
}

.Winter {
    color: rgba(0, 0, 0, 0.644);
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(45deg, #79b4cb00, #0b10311e);
    transition: background-color 0.9s ease-in-out;
}


.Winter:hover {
    color: white;
    background: linear-gradient(45deg, #00000000, #5c6b9680);
    background-color: rgba(0, 102, 128, 0.37);
}

.summer-btn {
    color: white;
    background: linear-gradient(45deg, #967b5c80, #00000000);
    background-color: rgba(128, 83, 0, 0.336);
}

.winter-btn {
    color: white;
    background: linear-gradient(45deg, #00000000, #5c6b9680);
    background-color: rgba(0, 102, 128, 0.37);
}





.the_rest_2 {
    width: 100%;
    height: 92%;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0.096);
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}

.Summer_picks_header_container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.summer_picks_header {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 10px;
    color: rgb(53, 53, 53);
    background-color: rgba(32, 32, 32, 0.096);
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #a5a5a5;
    border-radius: 20px;
}

 


.the_rest_3 {
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(0, 0, 0);
}

.Question_header_container {
    width: 45%;
    height: 17%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_header {
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 100;
    overflow: hidden;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 60%;
    text-align: right;
}

.In_the_rest_4 {
    height: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
 




.the_rest_4 {
    height: 100%;
    width: 95%;
    align-content: center;
    margin: 0 auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    border-color: rgba(58, 45, 45, 0.247);
}







.the_rest_4 > .slick-slider,
.Picks_wardrobe > .slick-slider  {
    height: 100%;
    align-content: center;
}

.the_rest_4 > .slick-slider > .slick-list,
.Picks_wardrobe > .slick-slider > .slick-list {
    height: 100%;
    align-content: center;
}

.the_rest_4 > .slick-slider > .slick-list > .slick-track,
.Picks_wardrobe > .slick-slider > .slick-list > .slick-track {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
}




.the_rest_4 > .slick-slider > .slick-list > .slick-track > .slick-slide > div,
.Picks_wardrobe > .slick-slider > .slick-list > .slick-track > .slick-slide > div {
    align-content: center;
    height: 100%;
}




.Short_Explanation_container {
    height: 100%;
    width: 25%;
    background-color: rgba(11, 161, 141, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Try_on_these {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: right;
    text-decoration: underline;
}

.short_exp_p{
    color: rgba(0, 0, 0, 0.712);
    width: 100%;
    text-align: right;
    font-size: 14px;
}



.Picks_wardrobe {
    height: 90%;
    width: 60%;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0) 0%,  rgba(0, 0, 0, 0.192) 50%, rgba(0, 128, 0, 0) 100%);

    margin-left: 3%;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    cursor: grab;
}



.wardrobe_slider > .slick-prev:before,
.wardrobe_slider > .slick-next:before {
    color: green !important;
    font-size: 30px !important;
}




.card_2 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.192);
    height: 95%;
    width: 97% !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.item_purchase_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    box-sizing: border-box;
    transition: transform 0.8s ease;
    transform: translateY(0);
}


.name_price_pick {
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name_pick, .price_pick {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.name_pick {
    font-size: 13px;
}

.price_pick {
    font-size: 10px;
}



.card_2:hover .item_purchase_container .name_pick,
.card_2:hover .item_purchase_container .price_pick {
    opacity: 1;
}





.purchase_pick {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    padding: 7px;
    width: 70%;
    height: 8%;
    font-size: 10px;
    color: #fff;
    border-color: #f0f8ffb0;
    border-radius: 15px;
    background-color: #3b8d3b4b;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.8s ease, transform 0.9s ease;
    transform: translateY(100%);
}

.purchase_pick:hover {
    background-color: #3b8d3bd2;
}



.card_2:hover .item_purchase_container .purchase_pick {
    opacity: 1;
    transform: translateY(-60%);
}



.card_2 > img {
    width: 80%;
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.5s ease-in-out;
}



.card_2:hover img {
    filter: grayscale(50%) blur(2px);
    transform: scale(1.1);
}





















/*---------------------IMAGES SECTION------------*/


.top_item, .leg_item, .bottom_item {
    width: 98%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
}

.leg {
    width: 100%;
}


.bottom {
    width: 100%;
}

/*---------------------------------------------------------*/

.fitshort {
    width: 100%;
    filter: contrast(170%);
}

.coolsandals1 {
    width: 100%;
}





/*---------------------------------------------------------*/

.hawaii {
    filter: contrast(80%);
}


.otherdadshort {
    width: 100%;
}


.coolsandals2 {
    width: 100%;
}




/*---------------------------------------------------------*/










.top_item_2, .leg_item_2, .bottom_item_2 {
    width: 98%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-2 {
    width: 100%;
}

.leg-2 {
    width: 100%;
}


.bottom-2 {
    width: 100%;
}




/*-----------------------------------------------------------*/


.sweater2 {
    width: 80%;
}

.blackjogging {
    width: 80%;
}

.jordan12 {
    width: 70%;
}


/*------------------------------------------------------------*/





.hoodie1 {
    width: 100%;
}

.cargokhaki3 {
    width: 100%;
}

.jordan1 {
    width: 100%;
}
