.Our_picks_container {
    position: relative;
    width: 100%;
    height: 28%;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    background-color: rgba(136, 136, 136, 0.144);
}







.The_rest, 
.our_picks_heading_container {
    position: relative;
}










  

.our_picks_heading_container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #4b4b4b15,  rgba(255, 253, 253, 0.103));
}

.our_picks_header {
    font-family: "Pacifico", cursive;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
}


.our_picks_heading_container > p {
    font-family: sans-serif;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
    width: 60%;
    font-size: 11px;
    margin-left: 5%;
}









.The_rest {
    width: 95%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}




.Small_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 5%;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}




.Summer, 
.Winter {
    width: 45%;
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Summer {
    color: rgba(0, 0, 0, 0.644);
    border-radius: 20px;
    transition: background-color 0.9s ease-in-out;
}

.Summer:hover {
    color: white;
    background: linear-gradient(45deg, #967b5c80, #00000000);
    background-color: rgba(128, 58, 0, 0.336);
}

.Winter {
    color: rgba(0, 0, 0, 0.644);
    border-radius: 20px;
    transition: background-color 0.9s ease-in-out;
}


.Winter:hover {
    color: white;
    background: linear-gradient(45deg, #00000000, #5c6b9680);
    background-color: rgba(0, 102, 128, 0.37);
}

.summer-btn {
    color: white;
    background: linear-gradient(45deg, #967b5c80, #00000000);
    background-color: rgba(128, 83, 0, 0.336);
}

.winter-btn {
    color: white;
    background: linear-gradient(45deg, #00000000, #28324d80);
    background-color: rgba(0, 102, 128, 0.37);
}





.the_rest_2 {
    width: 100%;
    height: 85%;
    border-style: solid;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0.096);
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}

.Summer_picks_header_container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

 


.the_rest_3 {
    height: 90%;
    width: 98%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(0, 0, 0);
}

.Question_header_container {
    width: 100%;
    height: 17%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.question_header {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 100;
    overflow: hidden;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.In_the_rest_4 {
    height: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
 




.the_rest_4 {
    height: 95%;
    width: 95%;
    align-content: center;
    margin: 0 auto;
    border-style: solid;
    border-width: 0px;
    border-radius: 50px;
    border-color: rgba(58, 45, 45, 0.247);
}







.the_rest_4 > .slick-slider,
.Picks_wardrobe > .slick-slider  {
    height: 100%;
    align-content: center;
}

.the_rest_4 > .slick-slider > .slick-list,
.Picks_wardrobe > .slick-slider > .slick-list {
    height: 100%;
    align-content: center;
}

.the_rest_4 > .slick-slider > .slick-list > .slick-track,
.Picks_wardrobe > .slick-slider > .slick-list > .slick-track {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
}




.the_rest_4 > .slick-slider > .slick-list > .slick-track > .slick-slide > div,
.Picks_wardrobe > .slick-slider > .slick-list > .slick-track > .slick-slide > div {
    align-content: center;
    height: 100%;
}




.Short_Explanation_container {
    height: 100%;
    width: 20%;
    background-color: rgba(11, 161, 141, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Try_on_these {
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: right;
    text-decoration: underline;
}

.short_exp_p{
    color: rgba(0, 0, 0, 0.712);
    width: 100%;
    text-align: right;
    font-size: 12px;
}



.Picks_wardrobe {
    height: 90%;
    width: 70%;
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0) 0%,  rgba(0, 0, 0, 0.192) 50%, rgba(0, 128, 0, 0) 100%);

    margin-left: 3%;
    border-style: solid;
    border-width: 0px;
    border-radius: 20px;
    cursor: grab;
}



.wardrobe_slider > .slick-prev:before,
.wardrobe_slider > .slick-next:before {
    color: green !important;
    font-size: 30px !important;
    display: none;
}




.card_2 {
    position: relative;
    background-color: rgba(0, 0, 0, 0.158);
    height: 95%;
    width: 97% !important;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.item_purchase_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    bottom: 0;
    box-sizing: border-box;
    transition: transform 0.8s ease;
    transform: translateY(0);
}


.name_price_pick {
    height: 15%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name_pick, .price_pick {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.name_pick {
    font-size: 13px;
}

.price_pick {
    font-size: 10px;
}



.card_2:hover .item_purchase_container .name_pick,
.card_2:hover .item_purchase_container .price_pick {
    opacity: 1;
}





.purchase_pick {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0px;
    padding: 7px;
    width: 80%;
    height: 8%;
    font-size: 10px;
    color: #fff;
    border-color: #f0f8ffb0;
    border-radius: 3px;
    background-color: #0000008f;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.8s ease, transform 0.9s ease;
    transform: translateY(100%);
}

.purchase_pick:hover {
    background-color: #00000065;
}




.card_2:hover .item_purchase_container .purchase_pick {
    opacity: 1;
    transform: translateY(-60%);
}



.card_2 > img {
    width: 80%;
    transition: opacity 0.8s ease, transform 0.8s ease, filter 0.5s ease-in-out;
}



.card_2:hover img {
    filter: grayscale(50%) blur(2px);
    transform: scale(1.1);
}





















/*---------------------IMAGES SECTION------------*/


.top_item, .leg_item, .bottom_item {
    width: 98%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    width: 100%;
}

.leg {
    width: 100%;
}


.bottom {
    width: 100%;
}

/*---------------------------------------------------------*/

.fitshort {
    width: 100%;
    filter: contrast(170%);
}

.coolsandals1 {
    width: 100%;
}





/*---------------------------------------------------------*/

.hawaii {
    filter: contrast(80%);
}


.otherdadshort {
    width: 100%;
}


.coolsandals2 {
    width: 100%;
}




/*---------------------------------------------------------*/










.top_item_2, .leg_item_2, .bottom_item_2 {
    width: 98%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-2 {
    width: 100%;
}

.leg-2 {
    width: 100%;
}


.bottom-2 {
    width: 100%;
}




/*-----------------------------------------------------------*/


.sweater2 {
    width: 80%;
}

.blackjogging {
    width: 80%;
}

.jordan12 {
    width: 70%;
}


/*------------------------------------------------------------*/





.hoodie1 {
    width: 100%;
}

.cargokhaki3 {
    width: 100%;
}

.jordan1 {
    width: 100%;
}





















































































/*------------------------------------- RESPONSIVENESS --------------------------------------------*/
/*------------------------------------- RESPONSIVENESS --------------------------------------------*/
/*------------------------------------- RESPONSIVENESS --------------------------------------------*/












/*----------------------------------- My Phone --------------------------------------------*/

@media (min-width: 0px) and (max-width: 767px) {

    .Our_picks_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .our_picks_heading_container {
        height: 22%;
        background: linear-gradient(45deg, #5c5c5c25,  rgba(255, 253, 253, 0.158));
    }    

    .The_rest {
        height: 77%;
        width: 100%;
        margin: 0;
    }

    .our_picks_header {
        display: flex;
        justify-content: flex-start;
        width: 90%;
    }

    .our_picks_heading_container > p {
        font-size: 10px;
        width: 95%;
        margin-top: 15px;
        text-align: left;
        color: rgba(0, 0, 0, 0.664);
    }

    .Small_navbar {
        width: 90%;
        height: 3%;
    }

    .the_rest_2 {
        height: 95%;
    }

    .the_rest_3 {
        width: 100%;
        height: 100%;
    }

    .summer-btn, .winter-btn {
        font-size: 11px;
    }


    .In_the_rest_4 {
        flex-direction: column;
    }


    .Short_Explanation_container {
        width: 100%;
        height: 15%;
    }

    .Try_on_these {
        display: none;
    }

    .short_exp_p {
        width: 97%;
        margin: 0 auto;
        text-align: center;
        font-size: 9px;
        font-family: sans-serif;
    }

    .Picks_wardrobe {
        height: 85%;
        width: 100%;
    }


    .Picks_wardrobe {
        background-image: none;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .the_rest_4 > .slick-slider > .slick-prev:before,
    .the_rest_4 > .slick-slider > .slick-next:before {
        font-size: 30px !important;
        display: none;
    }


    .mobile_picks {
        width: 99%;
        justify-content: flex-start;
    }

    .card_2 > img {
        width: 100%;
    }
    
}













/*----------------------------------- Above my Phone --------------------------------------------*/

@media (max-width: 1024px) {    

    .Picks_wardrobe > .slick-slider {
        display: none;
    }

    .mobile_picks {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        padding: 0;
    } 


    .card_2 {
        width: 48% !important;
        height: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-width: 0px;
        margin: 0 auto;
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0.068);
        background-color: rgba(0, 0, 0, 0.027);
    }

}


@media (min-width: 500px) {
    .our_picks_header {
        font-size: 32px;
    }

    .our_picks_heading_container > p {
        font-size: 12px;
    }

    .short_exp_p {
        font-size: 15px;
    }
}

@media (min-width: 580px) {
    .card_2 > img {
        width: 80%;
    }
} 


@media (min-width: 670px) {

    .our_picks_header {
        font-size: 40px;
    }

    .our_picks_heading_container > p {
        font-size: 15px;
    }

    .short_exp_p {
        font-size: 17px;
    }
}


@media (min-width: 775px) {

    .our_picks_header {
        font-size: 45px;
    }

    .our_picks_heading_container > p {
        font-size: 16px;
    }

    .short_exp_p {
        font-size: 18px;
        width: 80%;
    }
}







@media (min-width: 1025px) {    
    .Picks_wardrobe > .slick-slider {
        display: flex;
    }

    .mobile_picks {
        display: none;
    }

    .our_picks_heading_container {
        height: 25%;
    }

    .our_picks_header {
        font-size: 30px;
    }


    .our_picks_heading_container > p {
        width: 80%;
        font-size: 12px;
    }

    .The_rest {
        height: 75%;
    }

    .short_exp_p {
        width: 95%;
        font-size: 12px;
    }

}



@media (min-width: 1200px) {

    .our_picks_heading_container {
        width: 100%;
        height: 20%;
    }
    
    .our_picks_header {
        font-size: 25px;
    }
    
    
    .our_picks_heading_container > p {
        width: 60%;
        font-size: 11px;
    }
    
    
    
    .The_rest {
        height: 80%;
        margin: 0 auto;
    }    

}










/*----------------------------------- Below my Phone --------------------------------------------*/

@media (max-width: 350px) {
    .short_exp_p {
        font-size: 12px;
    }

    .mobile_picks {
        height: 90%;
    }
}


@media (max-width: 320px) {
    .short_exp_p {
        font-size: 9px;
    }
}
