.Trend-section {
    width: 100%;
    height: 32%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(90, 90, 90, 0.158);
}




.Upper-part-trend {
    width: 100%;
    height: 20%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(216, 216, 216, 0.274);
}


.Trending_items_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Pacifico", cursive;
    font-family: sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;
    color: rgb(0, 0, 0);
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}


.Trend-description {
    width: 60%;
    font-family: sans-serif;
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}




.Lower-part-trend {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.TrendCards-panel {
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.main_trending_part {
    height: 50%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}



.slider-container-2 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: grab;
    border-radius: 10px;
    align-content: center;
}
  
.card-2 {
    height: 220px;
    width: 90%;
    background-color: rgba(153, 153, 153, 0.356);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.589);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    filter: grayscale(70%) blur(1px);
    transition: background-color 0.7s ease-in-out, height 0.4s ease-in-out, width 0.4s ease-in-out, filter 0.4s ease-in-out;
    overflow: hidden;
    cursor: not-allowed;
}



.card_upper {
    height: 60%;
    width: 100%;
    background-color: rgba(5, 36, 27, 0.274);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-in-out;
}

.Trend-img {
    width: 50%;
}

.card_lower {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.name, .price{
    margin-top: 0;
    margin-bottom: 0;
}

.name {
    font-family: sans-serif;
    font-size: 14px;
}

.price {
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 5px;
}

.cart-trend {
    border-style: solid;
    border-width: 0px;
    color: rgb(0, 0, 0);
    padding: 6px;
    width: 60%;
    border-radius: 3px;
    background-color: gray;
    color: white;
    font-size: 9px;
    margin-top: 5px;
    cursor: not-allowed;
    transition: background-color 0.2s ease, transform 0.05s ease;
}


  

.slick-current .card-2 {
    background-color: rgba(108, 117, 122, 0.171);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    filter: blur(0px) grayscale(0);
    cursor: grab;
}

.slick-current .cart-trend {
    cursor: pointer;
}


.slick-current .cart-trend:hover {
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
}


  

.slick-next {
    right: -34px !important;
}
  
.slick-prev {
    left: -20px !important;
}

.slick-prev:before, .slick-next:before {
    color: rgba(0, 0, 0, 0.575) !important;
    font-family: sans-serif !important;
    font-size: 40px !important;
}

.slick-prev:before {
    content: '\2039' !important;
}

.slick-next:before {
    content: '\203A' !important; /* Unicode for right-pointing single angle quotation mark */
}













/*--------------------------------------------------------------*/









.why_verve_part {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.24);
}


.verve-offers-you {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers_you_header {
    font-family: sans-serif;
    font-size: 17px;
    color: rgb(53, 53, 53);
    text-decoration: underline;
}

.service-container {    
    height: 60%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.contain2 {
    height: 80%;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg-real {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg {
    width: 25%;
    border-radius: 50%;

}


.svg_words {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.svg_title, .svg_paragraph {
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}


.svg_title {
    font-size: 11px;
}


.svg_paragraph {
    font-size: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
}

































































/*------------------------------------------- RESPONSIVENESS ---------------------------------------------------*/
/*------------------------------------------- RESPONSIVENESS ---------------------------------------------------*/
/*------------------------------------------- RESPONSIVENESS ---------------------------------------------------*/
/*------------------------------------------- RESPONSIVENESS ---------------------------------------------------*/
/*------------------------------------------- RESPONSIVENESS ---------------------------------------------------*/







/*------------------------------------------- My phone ---------------------------------------------------*/



@media (min-width: 0px) and (max-width: 768px) {

    .main_trending_part {
        width: 95%;
    }

    .slider-container-2 > .slick-slider {
        display: none;
    }


    .Upper-part-trend {
        height: 8%;
    }

    .Trend-description {
        width: 95%;
        font-size: 10px;
    }

    .Lower-part-trend {
        height: 92%;
    }

    .main_trending_part {
        height: 65%;
    }


    .mobile-trends {
        display: flex;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 128, 0, 0);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .card-2 {
        width: 95%;
        filter: none;
        border-radius: 2px;
        height: 240px;
        height: 16%;
        border-width: 0;
        background-color: rgba(255, 0, 0, 0);
    }

    .card_upper {
        height: 68%;
        background-color: rgba(19, 19, 19, 0.062);
        border-radius: 10px 10px 0px 0px;
    }

    .Trend-img {
        width: 55%;
    }

    .card_lower {
        height: 30%;
        background-color: rgba(255, 255, 255, 0);
    }

    .card_lower > .price {
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .cart-trend {
        width: 80%;
        margin-top: 2px;
        padding: 3px;
        font-size: 8px;
        border-radius: 2px;
        background-color: gray;
        color: white;
        border-width: 0px;
    }




    .why_verve_part {
        height: 34%;
        align-items: center;
    }

    .verve-offers-you {
        height: 10%;
    }

    .service-container {
        height: 90%;
    }

    .offers_you_header {
        font-size: 20px;
        color: rgba(0, 0, 0, 0.445);
        height: 70%;
        display: flex;
        align-items: flex-end;
    }

    .svg-container {
        width: 95%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .contain2 {
        height: 19%;
        width: 100%;
    }

    .svg-real {
        width: 23%;
        filter: grayscale(100%);
        display: flex;
        align-items: flex-end;
    }

    .svg {
        width: 50%;
    }
    

    .svg_title {
        font-size: 12px;
        color: rgb(36, 36, 36);
    }

    .svg_paragraph {
        font-size: 9px;
        width: 50%;
    }

}


















/*---------------------------------- Above my phone ------------------------------------*/


@media (min-width: 500px) {
    .Trend-2 {
        width: 50%;
        height: 32%;
    }

    .card-2 {
        height: 100%;
        width: 97%;
    }

    .Trend-img {
        width: 100%;
    }

    .card_lower {
        height: 80px;
    }

    .svg-real {
        width: 80px;
    }
}



@media (min-width: 769px) {
    .mobile-trends {
        display: none;
    }

    .card-2 {
        height: 460px;
        width: 700px;
    }

    .card_upper {
        height: 70%;
        background-color: rgba(128, 128, 128, 0.582);
    }

    .Trend-img {
        width: 350px;
    }

    .card_lower {
        height: 30%;
    }

    .svg-real {
        width: 120px;
    }

    .service-container {
        width: 100%;
    }

    .svg-container {
        width: 90%;
    }

}



@media (min-width: 1024px) {
    .Trend-img {
        width: 50%;
    }

    .card-2 {
        height: 220px;
        width: 95%;
    }

    .card_upper {
        background-color: rgba(5, 36, 27, 0.274);
        height: 60%;
    }

    .card_lower {
        height: 40%;
    }

}


@media (min-width: 1220px) {
    .Trend-img {
        width: 50%;
    }

    .card-2 {
        height: 220px;
        width: 90%;
    }

    .card_lower {
        height: 40%;
    }

    .svg-real {
        width: 120px;
    }
    
    .service-container {
        width: 85%;
    }
}

















/*---------------------------------- Below my phone ------------------------------------*/




@media (max-width: 450px) {
    .mobile-trends {
        flex-direction: column;
    }

    .Trend-2 {
        height: 16%;
        width: 90%;
    }

    .card-2 {
        height: 100%;
    }

    .card_upper {
        width: 100%;
    }
}