body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 221, 221);
  background-color: black;
  background-color: rgb(226, 226, 226);
}


#root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}


.products-div-preloader {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}






/*

A : Header
B : Main 
B : Footer

*/






/* Scrollbar container */
::-webkit-scrollbar {
  width: normal !important; 
  height: normal !important;
}



.loader-panel {
  background-color: rgba(207, 207, 207, 0.438);
  position: fixed;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-spinner {
  width: 50px;
  height: 50px;
  border: 2.5px solid #ccc;
  border-top: 2.5px solid #000000; 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.check-out-loader {
  width: 20px;
  height: 20px;
  border: 2px solid #ccccccc7;
  border-top: 2px solid #000000d8; 
}


.image-skimmer {
  height: 180px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-skimmer > div {
  border: 2.5px solid #cccccc7c;
  border-top: 2.5px solid #0000007c; 
}
