.modal-dialog {
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s linear, right 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal-dialog.show {
    right: 0px;
    -webkit-transition: opacity 0.3s linear, right 0.5s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.5s ease-out;
    -o-transition: opacity 0.3s linear, right 0.5s ease-out;
    transition: opacity 0.3s linear, right 0.5s ease-out;
}


.panel_container {
    height: 95%;
    width: 95%;
    background-color: rgb(182, 182, 182);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  


.top-nav {
    height: 10%;
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart_word_panel {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 100;
    color: rgb(49, 49, 49);
}

.counts_pan {
    color: green;
    font-size: 15px;
}

.close_container {
    width: 5%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.185);
    background-color: rgba(129, 129, 129, 0.288);
    padding: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease, height 0.3s ease, width 0.3s ease;
}

.close:hover {
    background-color: rgba(133, 0, 0, 0.5);
    width: 20px;
    height: 20px;
    color: antiquewhite;
}

.close:active {
    transform: scale(0.95);
}

.close_ico {
    font-size: 8px;
}































/*------------------------ BOTTOM OF PANNEL ------------------------------------*/





.bottom-content {
    height: 85%;
    width: 100%;
    background-color: rgba(255, 166, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}


.emptyCart {
    width: 95%;
    height: 90%;
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
    border-style: dashed;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.514);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.upper_empty {
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.svg_container_cart {
    height: 70%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartSvg {
    height: 80%;
    width: 75%;
    min-height: 80%;
    min-width: 75%;
}


.lower_empty {
    width: 70%;
    height: 35%;
}

.Empty_cart_header, .empty_cart_paragraph {
    font-family: sans-serif;
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.Empty_cart_header {
    font-size: 20px;
    margin-bottom: 2%;
}

.empty_cart_paragraph {
    font-size: 12px;
    color: rgb(51, 51, 51);
}





























































/*-------------CART ITEMS STYLES-----------------------*/

.cartItems {
    width: 95%;
    height: auto;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Hide scrollbar container */
::-webkit-scrollbar {
    width: 6px; 
    height: 10px;
}

/* Red scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 55px;
    cursor: pointer;
    height: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(56, 56, 56);
}


.item_added_container {
    width: 90%;
    height: 20vh;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.377);
    background-color: rgba(201, 201, 201, 0.849);
    background: linear-gradient(to right, rgba(201, 201, 201, 0.849), rgba(209, 209, 209, 0.514));
    margin: 0 auto;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: grab;
    transition: background-color 0.3s ease-in-out;
}


.item_added_container:hover {
    background-color: rgba(182, 212, 175, 0.849);
}



.image_container_panel {
    height: 90%;
    width: 18%;
    border-radius: 10px;
    background-color: rgba(146, 146, 146, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
}


.img_readyTogo {
    min-height: 80%;
    min-width: 80%;
    height: 80%;
    width: 80%;
}



.main_details_panel {
    height: 90%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Item_name_panel, .price_pan, .quantity_size_pan {
    margin-top: 0;
    margin-bottom: 0;
}




.Item_name_panel {
    width: 95%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.itm_nm {
    width: 70%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.dollar-price {
    width: 10%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    text-align: right;
    color: rgb(36, 36, 36);
    font-size: 17px;
}




.price_and_rate {
    width: 93%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.price_pan {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-size: 11px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 50%;
}

.ratings {
    width: 50%;
    font-size: 7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.quantity_size_pan {
    width: 95%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.size_container {
    height: 60%;
    width: 17%;
    border-radius: 5px;
}

.size_values {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    background-color: rgb(206, 206, 206);
}


.quantity_container {
    height: 40%;
    width: 17%;
    background-color: rgb(206, 206, 206);
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(151, 151, 151);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
    cursor: pointer;

}



.quantity_container:hover {
    border-color: green;
    background-color: rgb(138, 175, 138);
}




.reduce, .qnty, .add {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qnty {
    font-size: 15px;
}

.reduce, .add {
    font-size: 6px;
    cursor: pointer;
    color: rgb(53, 53, 53);
    background-color: rgb(196, 196, 196);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(105, 105, 105);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2px;
}



.proceed_delete_panel {
    height: 90%;
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.proceed_payment_pan {
    height: 98%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Proceed_button_incart {
    height: 60%;
    width: 60%;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(73, 73, 73, 0.274);
    color: rgb(255, 255, 255);
    font-size: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.Proceed_button_incart:hover {
    background-color: rgba(0, 128, 58, 0.486);
    border-width: 0;
}

.Proceed_button_incart:active {
    transform: scale(0.5);    
}




.delete_item {
    height: 98%;
    width: 20%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}










.summation-pannel {
    width: 90%;
    height: 10%;
    border-radius: 25px;
    border-style: dashed;
    border-width: 1px;
    border-color: rgb(116, 116, 116);
    background-color: rgba(158, 158, 158, 0.377);
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.total_items_panel {
    height: 98%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Total-items-header{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 15px;
}

.total-items-par{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 13px;
}



.total_price_panel {
    height: 98%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Total-price-header{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 15px;
}

.total-price-par{
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 12px;
}




.proceed_total_payment_panel {
    height: 98%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Proceed_total_payment_button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(0, 128, 0, 0.5);
    color: white;
    border-radius: 20px;
    padding: 7px;
    font-weight: 100;
    font-size: 11px;
    width: 60%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.Proceed_total_payment_button:active {
    transform: scale(0.3); 
}






